@import '../../../variables.scss';

.contentCopy,
.hidden {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
}

.copy-button {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 0 $gap-md;
  font-size: $fs-medium;

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &.dark {
      background-color: $light-grey;
    }
    
    &.light {
      background-color: $button-bar-light;
    }
  }

  &__copy {
    color: #00CB17;
    display: flex;
  }
}