<app-container classes="dark" border="true">
    <ng-scrollbar class="gh-scrollbar">
        <div class="text-center">
            <span class="big-heading">Toolbox</span>
        </div>
        <div class="container">
            <div class="col-md-12 bb-white">
                <h2>{{ 'COLORS' | translate }}</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-2 mt-1" *ngFor="let color of colorList">
                    <div class="col-md-4 offset-md-4 color-item" [ngClass]="[color]">
                    </div>
                    <div class="text-center color-white">
                        ${{ color }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>{{ 'FONT_SIZES' | translate }}</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-2 mt-1" *ngFor="let fs of fsList">
                    <div class="text-center color-white" [ngClass]="[fs]">
                        ${{ fs }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>{{ 'TAGS' | translate }}</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-2 mt-1">
                    <div class="text-center color-white">
                        <h1>{{ 'TAG' | translate }} h1</h1>
                    </div>
                </div>
                <div class="col-md-2 mt-1">
                    <div class="text-center color-white">
                        <h2>{{ 'TAG' | translate }} h2</h2>
                    </div>
                </div>
                <div class="col-md-2 mt-1">
                    <div class="text-center color-white">
                        <h3>{{ 'TAG' | translate }} h3</h3>
                    </div>
                </div>
                <div class="col-md-2 mt-1">
                    <div class="text-center color-white">
                        <h4>{{ 'TAG' | translate }} h4</h4>
                    </div>
                </div>
                <div class="col-md-2 mt-1">
                    <div class="text-center color-white">
                        <h5>{{ 'TAG' | translate }} h5</h5>
                    </div>
                </div>
                <div class="col-md-2 mt-1">
                    <div class="text-center color-white">
                        <h6>{{ 'TAG' | translate }} h6</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>Font Awesome</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-2 mt-3" *ngFor="let fa of faList">
                    <div class="col-md-4 offset-md-4 color-white">
                        <i [ngClass]="[(fa.isFab ? 'fab' : 'fa'), fa.icon]"></i>
                    </div>
                    <div class="text-center color-white">
                        {{ fa.icon }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mt-3">
                <a class="link-white" (click)="openFontAwesome()">Font Awesome 5 Free</a>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>Loader</h2>
            </div>
            <div class="mt-2 col-md-12 row">
                <div class="col-md-3 mt-2">
                    <app-button [value]="loading ? 'LOADER.DESACTIVATE' : 'LOADER.ACTIVATE'" (buttonClicked)="setLoading()"></app-button>
                </div>
                <div class="col-md-1 mt-2">
                    <app-copy-button template='<app-loader [loading]="loading">
                            <!-- CONTENU DANS LOADER -->
                        </app-loader>'></app-copy-button>
                </div>
                <div class="col-md-8 offset-md-2 mt-2">
                    <app-loader [loading]="loading">
                        <div [ngClass]="{'gh-div-loader': loading }">
                        </div>
                    </app-loader>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>{{ 'CHECKBOX' | translate }}</h2>
            </div>
            <div class="col-md-12 mt-1 row">
                <div class="col-md-2">
                    <app-checkbox name="Checkbox 1" [(value)]="cbValue"></app-checkbox>
                </div>
                <div class="col-md-10">
                    <app-copy-button template='<app-checkbox name="Checkbox 1" [(value)]="cbValue"></app-checkbox>'></app-copy-button>
                </div>
                <div class="col-md-2 mt-2">
                    <app-checkbox name="Checkbox 2" [(value)]="cbValue" [disabled]="true"></app-checkbox>
                </div>
                <div class="col-md-4 mt-2">
                    <app-copy-button template='<app-checkbox name="Checkbox 1" [(value)]="cbValue"></app-checkbox>'></app-copy-button>
                </div>
                <div class="col-md-12 mt-1 text-right">
                    <app-button value="DISPLAY_VALUE" (click)="displayCbValue()"></app-button>
                    <app-button class="ml-2" value="UPDATE_VALUE" (click)="setCheckValue()"></app-button>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>Boutons</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.PRIMARY" type="primary" (buttonClicked)="primary()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.PRIMARY" type="primary" (buttonClicked)="primary()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.DISABLED" type="primary" [disabled]="true" (buttonClicked)="primary()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.DISABLED" type="primary" [disabled]="true" (buttonClicked)="primary()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.LARGE" type="primary" [large]="true" (buttonClicked)="primary()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.LARGE" type="primary" [large]="true" (buttonClicked)="primary()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.SUCCESS" type="success" (buttonClicked)="success()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.SUCCESS" type="success" (buttonClicked)="success()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.DISABLED" type="success" [disabled]="true" (buttonClicked)="success()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='app-button value="BUTTON.DISABLED" type="success" [disabled]="true" (buttonClicked)="success()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.LARGE" type="success" [large]="true" (buttonClicked)="success()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.LARGE" type="success" [large]="true" (buttonClicked)="success()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.DANGER" type="danger" (buttonClicked)="danger()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.DANGER" type="danger" (buttonClicked)="danger()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.DISABLED" type="danger" [disabled]="true" (buttonClicked)="danger()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.DISABLED" type="danger" [disabled]="true" (buttonClicked)="danger()"></app-button>'></app-copy-button>
                </div>
                <div class="col-md-3 mt-1">
                    <app-button value="BUTTON.LARGE" type="danger" [large]="true" (buttonClicked)="danger()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-button value="BUTTON.LARGE" type="danger" [large]="true" (buttonClicked)="danger()"></app-button>'></app-copy-button>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>Input</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-8 row">
                    <!-- Avec label -->
                    <div class="col-md-2 gh-label-input text-right">
                        <label>{{ 'REGULAR' | translate }}</label>
                    </div>
                    <div class="col-md-10">
                        <app-input [(value)]="inputValue"></app-input>
                    </div>
                </div>
                <div class="col-md-1">
                    <app-copy-button template='<div class="col-md-8 row">
                            <div class="col-md-2 gh-label-input text-right">
                                <label></label>
                            </div>
                            <div class="col-md-10">
                                <app-input [(value)]="inputValue"></app-input>
                            </div>
                        </div>'></app-copy-button>
                </div>                
                <div class="col-md-8 row mt-2">
                    <!-- Placeholder + empty value -->
                    <div class="col-md-2 gh-label-input text-right">
                        <label>{{ 'PLACEHOLDER' | translate }}</label>
                    </div>
                    <div class="col-md-10 mt-1">
                        <app-input [(value)]="inputEmptyValue" placeholder="PLACEHOLDER"></app-input>
                    </div>
                </div>
                <div class="col-md-1 mt-2">
                    <app-copy-button template='<div class="col-md-8 row">
                            <!-- Placeholder + empty value -->
                            <div class="col-md-2 gh-label-input text-right">
                                <label></label>
                            </div>
                            <div class="col-md-10 mt-1">
                                <app-input [(value)]="inputEmptyValue" placeholder="PLACEHOLDER"></app-input>
                            </div>
                        </div>'></app-copy-button>
                </div>  
                <div class="col-md-8 row mt-2">
                    <!-- Read only -->
                    <div class="col-md-2 gh-label-input text-right">
                        <label>{{ 'READONLY' | translate }}</label>
                    </div>
                    <div class="col-md-10 mt-2">
                        <app-input [(value)]="inputValue" [readonly]="true"></app-input>
                    </div>
                </div>
                <div class="col-md-1 mt-2">
                    <app-copy-button template='<div class="col-md-8 row mt-2">
                            <!-- Read only -->
                            <div class="col-md-2 gh-label-input text-right">
                                <label></label>
                            </div>
                            <div class="col-md-10 mt-1">
                                <app-input [(value)]="inputValue" [readonly]="true"></app-input>
                            </div>
                        </div>'></app-copy-button>
                </div> 
                <div class="col-md-8 row">
                    <!-- Disabled -->
                    <div class="col-md-2 gh-label-input text-right">
                        <label>{{ 'DISABLED' | translate }}</label>
                    </div>
                    <div class="col-md-10 mt-1">
                        <app-input [(value)]="inputValue" [disabled]="true"></app-input>
                    </div>
                </div>
                <div class="col-md-1 mt-2">
                    <app-copy-button template='<div class="col-md-8 row">
                            <!-- Disabled -->
                            <div class="col-md-2 gh-label-input text-right">
                                <label></label>
                            </div>
                            <div class="col-md-10 mt-1">
                                <app-input [(value)]="inputValue" [disabled]="true"></app-input>
                            </div>
                        </div>'></app-copy-button>
                </div> 
                <div class="col-md-12 text-right mt-2">
                    <app-button value="DISPLAY_VALUE" type="primary" (buttonClicked)="testInput()"></app-button>
                    <app-button class="ml-2" value="UPDATE_VALUE" type="primary" (buttonClicked)="changeInputValue()"></app-button>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>{{ 'MODAL.WINDOW' | translate }}</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-4 mt-1">
                    <app-button value="MODAL.OPEN.REGULAR" (buttonClicked)="openRegularModal()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-modal [(visible)]="modalRegularVisible" [medium]="true" title="title">
                        <mat-tab-group disableRipple [@.disabled]="true">
                            <!-- @.disabled permet de ne pas avoir de transition de changement -->
                            <mat-tab label="">
                                <div class="container row">
                                    <div class="col-md-8 row">
                                        <div class="col-md-2 gh-label-input text-right">
                                            <label></label>
                                        </div>
                                        <div class="col-md-10 mt-1">
                                            <app-input [(value)]="modalInputValue"></app-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <app-button value="DISPLAY_VALUE" type="primary" (buttonClicked)="displayModalInputValue()">
                                        </app-button>
                                    </div>
                                </div>

                            </mat-tab>
                            <mat-tab label="label">label</mat-tab>
                            <mat-tab label="label">label</mat-tab>
                        </mat-tab-group>
                    </app-modal>'></app-copy-button>
                </div>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-4 mt-1">
                    <app-button value="MODAL.OPEN.FULLSCREEN" (buttonClicked)="openFullscreenModal()"></app-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-modal [(visible)]="modalFullscreenVisible" [fullscreen]="true">
                        <mat-tab-group [(selectedIndex)]="modalTabSelectedIndex" (selectedTabChange)="checkIfCloseModal($event)" disableRipple [@.disabled]="true">
                            <!-- @.disabled permet de ne pas avoir de transition de changement -->
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div>
                                        <mat-icon><i class="fa fa-sign-out-alt fa-rotate-180 mr-1"></i></mat-icon>
                                        label
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="label"> label </mat-tab>
                            <mat-tab label="label"> label </mat-tab>
                            <mat-tab label="label"> label </mat-tab>
                        </mat-tab-group>
                    </app-modal>'></app-copy-button>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>IconButtons</h2>
            </div>
            <div class="col-md-12 row mt-1">
                <div class="col-md-2 mt-1">
                    <app-icon-button value="ICONBUTTON.GITHUB"  tooltipValue="ICONBUTTON.TOOLTIP.GITLAB" placement="bottom"
                        [icon]="{name:'fa-github', isFab:true}" (buttonClicked)="githubButtonClicked()">
                    </app-icon-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-icon-button value="ICONBUTTON.GITHUB"  tooltipValue="ICONBUTTON.TOOLTIP.GITLAB" placement="bottom"
                        [icon]="{name:"fa-github", isFab:true}" (buttonClicked)="githubButtonClicked()">
                        </app-icon-button>'></app-copy-button>
                </div>
            </div>
            <div class="col-md-12 row mt-1">
                <div class="col-md-2 mt-1">
                    <app-icon-button value="ICONBUTTON.GITLAB" tooltipValue="ICONBUTTON.TOOLTIP.GITHUB" placement="top" 
                        [icon]="{name:'fa-gitlab', isFab:true}"
                        (buttonClicked)="gitlabButtonClicked()"></app-icon-button>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-icon-button value="ICONBUTTON.GITLAB" tooltipValue="ICONBUTTON.TOOLTIP.GITHUB" placement="top" 
                        [icon]="{name:"fa-gitlab", isFab:true}"
                        (buttonClicked)="gitlabButtonClicked()"></app-icon-button>'></app-copy-button>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 bb-white">
                <h2>Input-Number</h2>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-8 row">
                    <!-- Avec label -->
                    <div class="col-md-2 gh-label-input text-right">
                        <label>{{ 'REGULAR' | translate }}</label>
                    </div>
                    <div class="col-md-10">
                        <app-input-number [(value)]="inputValueNumber"></app-input-number>
                    </div>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<div class="col-md-8 row">
                        <!-- Avec label -->
                        <div class="col-md-2 gh-label-input text-right">
                            <label>label</label>
                        </div>
                        <div class="col-md-10">
                            <app-input-number [(value)]="inputValueNumber"></app-input-number>
                        </div>
                    </div>'></app-copy-button>
                </div>
                <div class="col-md-8 row mt-1">
                    <!-- Read only -->
                    <div class="col-md-2 gh-label-input text-right">
                        <label>MIN-MAX</label>
                    </div>
                    <div class="col-md-10">
                        <app-input-number [(value)]="inputMinMaxValueNumber" [min]="min" [max]="max">
                        </app-input-number>
                    </div>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<div class="col-md-8 row mt-1">
                        <!-- Read only -->
                        <div class="col-md-2 gh-label-input text-right">
                            <label>MIN-MAX</label>
                        </div>
                        <div class="col-md-10">
                            <app-input-number [(value)]="inputMinMaxValueNumber" [min]="min" [max]="max">
                            </app-input-number>
                        </div>
                    </div>'></app-copy-button>
                </div>
                <div class="col-md-12 text-right">
                    <app-button value="DISPLAY_VALUE" type="primary" (buttonClicked)="testInputNumber()"></app-button>
                    <app-button class="ml-2" value="UPDATE_VALUE" (click)="setInputNumber()"></app-button>
                </div>
            </div>
            <div class="container mt-5">
                <div class="col-md-12 bb-white">
                    <h2>{{ 'CONTEXT_MENU' | translate }}</h2>
                </div>
                <div class="col-md-12 mt-2 row">
                    <div class="col-md-5">
                        <ul class="text-white">
                            <li *ngFor="let user of contextMenuFirstObject" [contextMenu]="userCM"
                                [contextMenuSubject]="user">{{ 'CLICK.RIGHT' | translate }}:
                                {{ user?.sexe === 'F' ? 'Mme.' : 'M.' }} {{ user?.lastname }}</li>
                        </ul>
                    </div>
                    <div class="col-md-1 mt-1">
                        <app-copy-button template='<ul class="text-white">
                            <li *ngFor="let user of contextMenuFirstObject" [contextMenu]="userCM"
                                [contextMenuSubject]="user">test:
                                <!-- On peut utiliser user?.sexe --></li>
                            </ul>
                            <context-menu #userCM>
                                <ng-template contextMenuItem let-item>
                                    Bonjour <!-- On peut utiliser item?.firstname -->
                                </ng-template>
                                <ng-template contextMenuItem [subMenu]="saySubMenu">
                                    Informations personnelles
                                </ng-template>
                                <context-menu #saySubMenu>
                                    <ng-template contextMenuItem let-item>
                                        Prénom : <!-- On peut utiliser item?.firstname -->
                                    </ng-template>
                                    <ng-template contextMenuItem let-item>
                                        Nom de famille : <!-- On peut utiliser item?.lastname -->
                                    </ng-template>
                                    <ng-template contextMenuItem let-item>
                                        Âge : <!-- On peut utiliser item?.age -->
                                    </ng-template>
                                    <ng-template contextMenuItem let-item>
                                        Sexe : <!-- On peut utiliser item?.sexe -->
                                    </ng-template>
                                </context-menu>
                                <ng-template contextMenuItem divider="true"></ng-template>
                                <ng-template contextMenuItem (execute)="showMessage($event.item.firstname + " dit bonjour !")">
                                    Clic pour appelé une fonction !
                                </ng-template>
                                <ng-template contextMenuItem (execute)="showMessage($event.item.firstname + " dit hello !")">
                                    Clic pour appelé une autre fonction !
                                </ng-template>
                            </context-menu>'></app-copy-button>
                    </div>
                    <div class="col-md-5">
                        <ul class="text-white">
                            <li *ngFor="let subject of contextMenuSecondObject" [contextMenu]="subjectCM"
                                [contextMenuSubject]="subject">{{ 'CLICK.RIGHT' | translate }}: {{ subject?.name }}</li>
                        </ul>
                    </div>
                    <div class="col-md-1 mt-1">
                        <app-copy-button template='<ul class="text-white">
                            <li *ngFor="let subject of contextMenuSecondObject" [contextMenu]="subjectCM"
                                [contextMenuSubject]="subject">label: <!-- On peut utiliser subject?.name --></li>
                            </ul>
                            <context-menu #subjectCM>
                                <ng-template contextMenuItem let-item>
                                    Langage : <!-- On peut utiliser item?.language -->
                                </ng-template>
                                <ng-template contextMenuItem let-item>
                                    Professeur :<!-- On peut utiliser item?.teacher -->
                                </ng-template>
                            </context-menu>'></app-copy-button>
                    </div>
                </div>
                <!-- Context menu pour les utilisateurs -->
                <context-menu #userCM>
                    <ng-template contextMenuItem let-item>
                        Bonjour {{ item?.firstname }}
                    </ng-template>
                    <ng-template contextMenuItem [subMenu]="saySubMenu">
                        Informations personnelles
                    </ng-template>
                    <context-menu #saySubMenu>
                        <ng-template contextMenuItem let-item>
                            Prénom : {{ item?.firstname }}
                        </ng-template>
                        <ng-template contextMenuItem let-item>
                            Nom de famille : {{ item?.lastname }}
                        </ng-template>
                        <ng-template contextMenuItem let-item>
                            Âge : {{ item?.age }}
                        </ng-template>
                        <ng-template contextMenuItem let-item>
                            Sexe : {{ item?.sexe }}
                        </ng-template>
                    </context-menu>
                    <ng-template contextMenuItem divider="true"></ng-template>
                    <ng-template contextMenuItem (execute)="showMessage($event.item.firstname + ' dit bonjour !')">
                        Clic pour appelé une fonction !
                    </ng-template>
                    <ng-template contextMenuItem (execute)="showMessage($event.item.firstname + ' dit hello !')">
                        Clic pour appelé une autre fonction !
                    </ng-template>
                </context-menu>
                <!-- Context menu pour les matières -->
                <context-menu #subjectCM>
                    <ng-template contextMenuItem let-item>
                        Langage : {{ item?.language }}
                    </ng-template>
                    <ng-template contextMenuItem let-item>
                        Professeur : {{ item?.teacher }}
                    </ng-template>
                </context-menu>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-12 mt-2 row">
                <div class="col-md-12 bb-white">
                    <h2>Dropdowns</h2>
                </div>
                <div class="col-md-4 mt-2">
                    <app-dropdown [options]="dataDropdownExample" [required]="true" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValue"></app-dropdown>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-dropdown [options]="dataDropdownExample" [required]="true" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValue"></app-dropdown>'></app-copy-button>
                </div>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-4 mt-1">
                    <app-dropdown [options]="dataDropdownExample" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValue"></app-dropdown>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-dropdown [options]="dataDropdownExample" [required]="true" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValue"></app-dropdown>'></app-copy-button>
                </div>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-4 mt-1">
                    <app-dropdown [options]="dataDropdownExample" [disabled]="true" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValue"></app-dropdown>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-dropdown [options]="dataDropdownExample" [disabled]="true" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValue"></app-dropdown>'></app-copy-button>
                </div>
            </div>
            <div class="col-md-12 mt-2 row">
                <div class="col-md-4 mt-1">
                    <app-dropdown [options]="dataDropdownExampleTwo" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValueTwo"></app-dropdown>
                </div>
                <div class="col-md-1 mt-1">
                    <app-copy-button template='<app-dropdown [options]="dataDropdownExampleTwo" [idKey]="key" [valueKey]="value"
                        [(value)]="dropdownValueTwo"></app-dropdown>'></app-copy-button>
                </div>
            </div>
            <div class="col-md-12 mt-2 text-right">
                <app-button value="RANDOM_VALUE" type="primary" (buttonClicked)="testAleatDropdown()"></app-button>
                <app-button class="ml-2" value="DISPLAY_VALUE" type="primary" (buttonClicked)="testDropdown()"></app-button>
            </div>
        </div>
    </ng-scrollbar>
</app-container>

<app-modal [(visible)]="modalRegularVisible" [medium]="true" [title]="'MODAL.WINDOW'">
    <mat-tab-group disableRipple [@.disabled]="true">
        <!-- @.disabled permet de ne pas avoir de transition de changement -->
        <mat-tab label="{{ 'MODAL.FIRST_SECTION' | translate }}">
            <div class="container row">
                <div class="col-md-8 row">
                    <div class="col-md-2 gh-label-input text-right">
                        <label>{{ 'LABEL' | translate }}</label>
                    </div>
                    <div class="col-md-10 mt-1">
                        <app-input [(value)]="modalInputValue"></app-input>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <app-button value="DISPLAY_VALUE" type="primary" (buttonClicked)="displayModalInputValue()">
                    </app-button>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="{{ 'MODAL.SECOND_SECTION' | translate }}"> {{ 'MODAL.SECOND_CONTENT' | translate }} </mat-tab>
        <mat-tab label="{{ 'MODAL.THIRD_SECTION' | translate }}"> {{ 'MODAL.THIRD_CONTENT' | translate }} </mat-tab>
    </mat-tab-group>
</app-modal>

<app-modal [(visible)]="modalFullscreenVisible" [fullscreen]="true">
    <mat-tab-group [(selectedIndex)]="modalTabSelectedIndex" (selectedTabChange)="checkIfCloseModal($event)" disableRipple [@.disabled]="true">
        <!-- @.disabled permet de ne pas avoir de transition de changement -->
        <mat-tab>
            <ng-template mat-tab-label>
                <div>
                    <mat-icon><i class="fa fa-sign-out-alt fa-rotate-180 mr-1"></i></mat-icon>
                    {{ 'MODAL.EXIT' | translate }}
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="{{ 'MODAL.FIRST_SECTION' | translate }}"> {{ 'MODAL.FIRST_CONTENT' | translate }} </mat-tab>
        <mat-tab label="{{ 'MODAL.SECOND_SECTION' | translate }}"> {{ 'MODAL.SECOND_CONTENT' | translate }} </mat-tab>
        <mat-tab label="{{ 'MODAL.THIRD_SECTION' | translate }}"> {{ 'MODAL.THIRD_CONTENT' | translate }} </mat-tab>
    </mat-tab-group>
</app-modal>


<app-footer [devRedirect]="{ icon: 'fa-home', link: '/home' }"></app-footer>