<app-container classes="dark" border="true">
    <div class="text-center">
        <span class="big-heading">Toolbox</span>
    </div>
    <div class="container">
        <div class="col-md-12 bb-white">
            <h2>{{ 'COLORS' | translate }}</h2>
        </div>
        <div class="col-md-12 mt-2 row">
            <div class="col-md-2 mt-1" *ngFor="let color of colorList">
                <div class="col-md-4 offset-md-4 color-item" [ngClass]="[color]">
                </div>
                <div class="text-center color-white">
                    ${{ color }}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-md-12 bb-white">
            <h2>{{ 'FONT_SIZES' | translate }}</h2>
        </div>
        <div class="col-md-12 mt-2 row">
            <div class="col-md-2 mt-1" *ngFor="let fs of fsList">
                <div class="text-center color-white" [ngClass]="[fs]">
                    ${{ fs }}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-md-12 bb-white">
            <h2>{{ 'TAGS' | translate }}</h2>
        </div>
        <div class="col-md-12 mt-2 row">
            <div class="col-md-2 mt-1">
                <div class="text-center color-white">
                    <h1>{{ 'TAG' | translate }} h1</h1>
                </div>
            </div>
            <div class="col-md-2 mt-1">
                <div class="text-center color-white">
                    <h2>{{ 'TAG' | translate }} h2</h2>
                </div>
            </div>
            <div class="col-md-2 mt-1">
                <div class="text-center color-white">
                    <h3>{{ 'TAG' | translate }} h3</h3>
                </div>
            </div>
            <div class="col-md-2 mt-1">
                <div class="text-center color-white">
                    <h4>{{ 'TAG' | translate }} h4</h4>
                </div>
            </div>
            <div class="col-md-2 mt-1">
                <div class="text-center color-white">
                    <h5>{{ 'TAG' | translate }} h5</h5>
                </div>
            </div>
            <div class="col-md-2 mt-1">
                <div class="text-center color-white">
                    <h6>{{ 'TAG' | translate }} h6</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-md-12 bb-white">
            <h2>Font Awesome</h2>
        </div>
        <div class="col-md-12 mt-2 row">
            <div class="col-md-2 mt-3" *ngFor="let fa of faList">
                <div class="col-md-4 offset-md-4 color-white">
                    <i [ngClass]="[(fa.isFab ? 'fab' : 'fa'), fa.icon]"></i>
                </div>
                <div class="text-center color-white">
                    {{ fa.icon }}
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center mt-3">
            <a class="link-white" (click)="openFontAwesome()">Font Awesome 5 Free</a>
        </div>
    </div>
    <app-footer [devRedirect]="{ icon: 'fa-home', link: '/home' }"></app-footer>
</app-container>