@import '../../../variables.scss';

.view-commit {
    height: 100%;
    
    &.dark {
        background: $light-grey;
        color: $white;
        border-top: 1px solid $light-grey;
    }

    &.light {
        background: $dark-grey-light;
        color: $dark;
        border-top: 1px solid $border-dark-grey-light;
    }
}