@import '../../../variables.scss';

.view-commit {
    height: 100%;
    text-align: left; 

    &.dark {
        background: $light-grey;
        color: $white;
        border-bottom: 1px solid $dark;
        
        & .view-commit__hash {
            text-align: center; 
            background: $textarea-bg;
            padding: $gap-md 0 $gap-md 0;
    
            &__label {
                color: $muted-white;
            }
    
            &__hash {
                color: $white;
            }
        }
    }

    &.light {
        background: $dark-grey-light;
        color: $dark;
        border-bottom: 1px solid $border-dark-grey-light;

        & .view-commit__hash {
            text-align: center; 
            background: $grey-variant-light;
            padding: $gap-md 0 $gap-md 0;
    
            &__label {
                color: $muted-dark;
            }
    
            &__hash {
                color: $dark;
            }
        }
    }
    
    &__date, &__parent {
        font-size: 9px;
    }

    &__top {
        height: 245px;
    }

    &__bottom {
        height: calc(100% - 245px - 33px);
    }

    &__file-status {
        font-size: $fs-small;
    }

    &__send-commit {
        justify-content: center;
        margin-left: 0px;

        &__header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: $fs-small;
        }

        &__button {
            margin: $gap-md;
        }

        &.dark {
            background-color: $light-blue;
        }

        &.light {
            background-color: $background-blue-light;
        }
    }
}

.copied {
    color: #00CB17;
}

.color-m {
    color: #de9b49;
}

.color-a {
    color: $dark-green-light;
}

.color-d {
    color: $dark-red-light;
}