<div class="view-commit" [ngClass]="currentTheme">
  <div class="col-md-12 view-commit__hash">
    <span class="view-commit__hash__label">
      commit: 
      <span placement="top" ngbTooltip="{{ 'COPY' | translate }}" (click)="copyCommitHash()" class="view-commit__hash__hash">
        {{ currentDescription?.oid | slice:0:6 }}
        <i class="fa fa-lg copied" [ngClass]="[hashCopied ? 'fa-check' : '']"></i>
      </span> 
    </span>
  </div>
  <div class="col-md-12 mt-2" *ngIf="currentDescription?.message">
    <app-commit-text-area rows="3" [descValue]="getCommitDescription()" [summaryValue]="getCommitSummary()" 
      [readonly]="true" [descView]="true"></app-commit-text-area>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-7">
      <div class="col-md-12">
        <span>{{ currentDescription?.committer.name }}</span>
      </div>
      <div class="col-md-12">
          <span>{{ 'AUTHORED' | translate }}<span class="font-weight-bold">{{ commitDate }}</span></span>
        </div>
    </div>
    <button (click)="test()">test</button>
  </div>
</div>