@import '../../../variables.scss';

.gh-icon-button {
    border-style: none;
    color: $white;
    outline: none;


    @include bg-color($light-grey);
    cursor: pointer;

    &:hover {
        @include bg-color($dark-grey);
    }
}

.large {
    @include w100-h100();
}