@import '../../../variables.scss';

.gh-icon-button {
    border-style: none;
    color: $white;
    outline: none;

    &.classic {
        @include bg-color($white);
        color: $muted-white;
        cursor: pointer;

        &:hover {
            color: $dark;
        }

        &.disabled {
            &:hover {
                cursor: not-allowed;
                color: $muted-white;
            }
        }
    }

    &.menubar {
        @include bg-color($light-blue);
        cursor: pointer;

        &:hover {
            @include bg-color($dark-blue);
        }

        &.disabled {
            @include bg-color($dark-blue);
            color: $muted-white;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.large {
    @include w100-h100();
}