@import '../../../variables.scss';

.left-panel {
    display:inline-block;
    height: calc(100% - 50px);
    width: 15%;
    vertical-align: top;
    overflow: auto;
    
    &.dark {
        background: $low-dark;
        color: $white;
        border-top: 1px solid $dark;
    }

    &.light {
        background: $light-grey-light;
        color: $dark;
        border-top: 1px solid $border-dark-grey-light;
    }
}

.gh-current-branch.light {
    @include bg-color($light-green-hover-light);
    &:hover {
        @include bg-color($light-green-hover-light);
        cursor: default;
    }
}

.gh-current-branch.dark {
    @include bg-color($light-green-hover);

    &:hover {
        @include bg-color($light-green-hover);
    }
}

.gh-branch.dark {
    &:hover {
        @include bg-color($disabled-blue);
        cursor: pointer;
    }
}
.gh-branch.light {
    &:hover {
        @include bg-color($modal-tab-hover-light);
        cursor: pointer;
    }
}