@import '../../../variables.scss';

.left-panel {
    display:inline-block;
    height: calc(100% - 50px);
    width: 15%;
    vertical-align: top;
    
    &.dark {
        background: #272A31;
        color: $white;
        border-top: 1px solid $dark;
    }

    &.light {
        background: $light-grey-light;
        color: $dark;
        border-top: 1px solid $border-dark-grey-light;
    }
}