<div class="gh-loader">
    <div class="gh-loader_overlay" [ngClass]="[currentTheme]" *ngIf="loading">
        <div class="gh-loader_content" *ngIf="loading">        
            <div class='loader loader1'>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 [ngClass]="[currentTheme]">{{ 'LOADER.INFO' | translate }}</h2>
        </div>

    </div>
    <ng-content></ng-content>
</div>
