<!-- <app-container classes="loader-dark">
    <div class='loader loader1'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>{{ 'LOADER' | translate }}</h2>
</app-container> -->

<div class="gh-loader" *ngIf="loading">
    <div class="gh-loader_overlay"></div>
    <div class="gh-loader_content">
        <div class='loader loader1'>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>{{ 'LOADER' | translate }}</h2>
</div>
