@import '../../../variables.scss';
.gh-commit-textarea input {
    resize: none;
    outline: none;
    
    &.dark {
        background-color: $textarea-bg;
        color: $white;
        border: 1px solid $light-grey;
    }

    &.light {
        background: $grey-variant-light;
        color: $dark;
        border: 1px solid $muted-white;
    }
}

.dark::placeholder {
    color: $muted-white;
}