@import '../../../variables.scss';

.file-diff-commit {
    @include bg-color($white);
    border: 1px solid $muted-white;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    @include w100-h100();

    &.dark {
        background: $low-dark;
        border: 1px solid $dark-grey;
        color: $white;

        &.desc-view {
            background-color: $textarea-bg;
        }
        &::-webkit-scrollbar-track-piece  {
            background-color: rgba(55, 56, 65, 0.3);
        }
        &::-webkit-scrollbar-thumb:vertical {
            background-color: #373841;
            border: 1px solid rgba(55, 56, 65, 0.3);
        }
    }

    &.light {
        background: $light-grey-light;
        border: 1px solid $border-dark-grey-light;
        color: $dark;

        &.desc-view {
            background: $grey-variant-light;
        }
        &::-webkit-scrollbar-track-piece  {
            background-color: rgba(0, 0, 0, 0.1);
        }
        &::-webkit-scrollbar-thumb:vertical {
            background-color: #C6C6C6;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment  {
        height: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track-piece  {
        -webkit-border-radius: 16px;
    }
    &::-webkit-scrollbar-thumb:vertical {
        height: 10px;
        -webkit-border-radius: 16px;
    }

    &:hover {
        cursor: pointer;
    }

    &_file {
        padding: $gap-sm;

        &.dark:hover {
            @include bg-color($dark-blue);
        }

        &.light:hover {
            @include bg-color($light-green-light);
        }

        &_button {
            position: absolute;
            right: 20px;
            visibility: hidden;
            font-size: $fs-small;
        }
    }
}

.visible {
    visibility: visible;
}

.color-m {
    color: $dark-blue-light;
}

.color-a {
    color: $dark-green-light;
}

.color-d {
    color: $dark-red-light;
}