@import '../../../variables.scss';

.gh-modal {
    display: none;

    &.visible {
        display:block;
        float: left;
    }

    &__overlay {
        background: $white;
        opacity: 0.6;
        position: fixed;
        top: 0;
        left: 0;
        @include w100-h100();
        z-index: 1;    
    }

    &__content {
        position: absolute;
        top: 50px;
        bottom: 0;
        @include wX(100%);
        overflow: auto;

        .dark {
            color: $white;
        }
        &.light {
            color: $dark;
        }
    }

    &__title {
        font-weight: bold;
        @include hX(50px);
        line-height: 50px;
        vertical-align: middle;
        padding-left: $gap-xl;
        

        &.dark {
            border-bottom: 1px solid $dark;
            background: $light-grey;
        }

        &.light {
            background: $dark-grey-light;
            border-bottom: 1px solid $border-dark-grey-light;
        }

    }

    &__close {
        position: absolute;
        top: 15px;
        right: $gap-xl;
        @include wX-hX(20px, 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
    
        &.dark {
            color: $white;
            &:hover {
                background: rgba(76, 93, 170, 0.2);
            }
        }
        &.light {
            color: $dark;
            &:hover {
                background: $modal-tab-hover-light;
            }
        }

        
    }

    &__window
    {
        position: fixed;
        @include wX-hX(30%, 80%);
        top: 5%;
        left: 35%;
        z-index: 2;

        &.dark {
            border: 1px solid $light-grey;
        }
        &.light {
            border: 1px solid $border-dark-grey-light;
        }

        &.medium {
            @include wX(60%);
            left: 20%;
        }

        &.large {
            @include wX(90%);
            left: 5%;
        }

        &.fullscreen {
            @include w100-h100();
            top: 0;
            left: 0;

            & .gh-modal__content {
                top: 0;
            }
        }
    }
}