@import '../../../variables.scss';

.gh-modal {
    display: none;

    &.visible {
        display:block;
        float: left;
    }

    &__overlay {
        background: $white;
        opacity: 0.6;
        position: fixed;
        top: 0;
        left: 0;
        @include w100-h100();
        z-index: 1;    
    }

    &__window
    {
        position: fixed;
        background: $blue-grey;
        @include wX-hX(30%, 80%);
        top: 5%;
        left: 35%;
        border: 1px solid $light-grey;
        z-index: 2;

        &.medium {
            @include wX(50%);
            left: 25%;
        }

        &.large {
            @include wX(90%);
            left: 5%;
        }
    }

    &__content {
        color: $white;
        position: absolute;
        top: 50px;
        bottom: 0;
        @include wX(100%);
        overflow: auto;
    }

    &__title {
        background: $light-grey;
        font-weight: bold;
        @include hX(50px);
        line-height: 50px;
        vertical-align: middle;
        padding-left: $gap-xl;
        border-bottom: 1px solid $dark;
    }

    &__close {
        position: absolute;
        color: $white;
        top: 10px;
        right: $gap-xl;
        @include wX-hX(30px, 30px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
    
        &:hover {
            background: $dark-blue;

        }
    }
}