@import '../../../variables.scss';

.gh-button-bar {
    @include wX-hX(100%, 50px);
    @include bg-color($light-grey);
    color: $white;

    &-project {
        @include hX(50px);
        line-height: 50px;
        float: left;
        text-align: left;
    }

    &-actions {
        @include hX(50px);
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    &-more {
        @include hX(50px);
        line-height: 50px;
        float: right;
        text-align: right;
    }
}

.cursor-pointer {
    cursor: pointer;
}