@import '../../../variables.scss';

.container {
    position: relative;
    background: $white;
    margin: $gap-xl;
    padding: $gap-md;
    height: 100%;
    @include box-shadow();

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;
        opacity: 0.6;
        z-index: 1;
    }
}