<app-container [classes]="currentTheme">
    <!-- Button-Bar -->
    <app-loader [loading]="homeLoading">
        <div class="gh-button-bar" [ngClass]="[currentTheme]">
        <!-- Project (à gauche) -->
            <div class="col-4 gh-button-bar-project gh-breadcrumbs" [ngClass]="[currentTheme]">
                <ul>
                    <li class="gh-folder">
                        <a id="project-manager" (click)="openProjectModal(0)">
                            <i class="far fa-folder fa-lg"></i>
                        </a>
                    </li>
                    <li class="gh-project" [ngClass]="[(!repoName ? 'gh-project-not-opened' : '')]">
                        <a data-toggle="tooltip" title="{{ path }}">
                            <i class="fa fa-times fa-xs mr-2 icon-times" (click)="closeRepo()"></i>
                            {{ repoName }}
                        </a>
                    </li>
                    <li *ngIf="branchName" class="gh-branch" [ngClass]="[(!repoName ? 'gh-project-not-opened' : '')]">
                        <a>{{ branchName }}</a>
                    </li>
                </ul>
            </div>
            <!-- Actions (au milieu) -->
            <div class="col-4 gh-button-bar-actions">
                <div class="d-inline-block">
                    <app-icon-button value="PULL" tooltipValue="PULL" placement="bottom" [disabled]="!repoName"
                        [icon]="{name:'fa-download', isFab:false}" (buttonClicked)="pullButtonClicked()">
                    </app-icon-button>
                </div>
                <div class="d-inline-block">
                    <app-icon-button value="PUSH" tooltipValue="PUSH" placement="bottom" [disabled]="!repoName"
                        [icon]="{name:'fa-upload', isFab:false}" (buttonClicked)="pushButtonClicked()">
                    </app-icon-button>
                </div>
                <div class="d-inline-block">
                    <app-icon-button value="BRANCH" tooltipValue="BRANCH" placement="bottom" [disabled]="!repoName"
                        [icon]="{name:'fa-code-branch', isFab:false}" (buttonClicked)="branchButtonClicked()">
                    </app-icon-button>
                </div>
            </div>
            <!-- Plus (à droite) -->
            <div class="col-4 gh-button-bar-more">
                <div>
                    <div class="searchInput mr-3">
                        <app-input [(value)]="searchInputValue" [disabled]="!repoName"></app-input>
                    </div>
                    <a class="cursor-pointer mr-3" (click)="displaySearchInputValue()">
                        <i [ngClass]="[(!repoName ? 'disabled-search' : '')]" class="fa fa-search"></i></a>
                    <a class="cursor-pointer mr-3" id="terminal-opener" (click)="openTerminal()"><i class="fas fa-terminal"></i></a>
                    <a class="cursor-pointer" (click)="openPreferences()"><i class="fas fa-cog"></i></a>
                </div>
            </div>
        </div>

        <!-- Main-Panel -->
        <div *ngIf="mainPanelVisible" class="gh-main-panel" [ngClass]="[currentTheme, (repoName ? 'gh-project-not-opened' : '')]">
            <div class="row gh-main-panel-not-opened text-center">
                <div class="offset-2 col-md-2 gh-main-panel-not-opened-button" [ngClass]="[currentTheme]" (click)="openProjectModal(0)">
                    <div class="mb-1">{{ 'OPEN.REPO' | translate }}</div>
                    <div><i class="fa fa-folder fa-lg"></i></div>
                </div>
                <div class="offset-1 col-md-2 gh-main-panel-not-opened-button" [ngClass]="[currentTheme]" (click)="openProjectModal(2)">
                    <div class="mb-1">{{ 'INIT.TAB_TITLE' | translate }}</div>
                    <div><i class="fa fa-laptop fa-lg"></i></div>
                </div>
                <div class="offset-1 col-md-2 gh-main-panel-not-opened-button" [ngClass]="[currentTheme]" (click)="openProjectModal(1)">
                    <div class="mb-1">{{ 'CLONE.TAB_TITLE' | translate }}</div>
                    <div><i class="fa fa-globe fa-lg"></i></div>
                </div>
            </div>
        </div>

    <app-left-panel *ngIf="leftPanelVisible" [(newBranchCouple)]="newBranchCouple"></app-left-panel>
    <app-graph *ngIf="graphVisible"></app-graph>
    <app-right-panel *ngIf="rightPanelVisible"></app-right-panel>
    
    </app-loader>
</app-container>

<app-modal [(visible)]="projectModalVisible" [medium]="true" title="{{ 'REPOSITORY_MANAGEMENT' | translate }}" [loading]="projectModalLoading">
    <mat-tab-group disableRipple [(selectedIndex)]="projectModalTabSelectedIndex" [@.disabled]="true">
        <mat-tab label="{{ 'OPEN.TITLE' | translate }}" id="tab-open">
            <span class="section-title">
                <i class="fas fa-folder-open fa-xs"></i>
                {{ 'OPEN.REPO' | translate }}
            </span>
            <div class="col-md-12">
                <div class="col-md-12 row">
                    <div class="col-md-3 gh-label-input text-right" [ngClass]="[currentTheme]">
                        <label>{{ 'OPEN.WHERE' | translate }} </label>
                    </div>
                    <div class="col-md-6">
                        <app-input class="open-input" [(value)]="openFolder"></app-input>
                    </div>
                    <div class="col-md-3 text-right">
                        <app-button value="BROWSE" type="primary" (buttonClicked)="openBrowse()"></app-button>
                    </div>
                </div>
                <div class="col-md-12 row mt-2 open-browse">
                    <div class="col-md-12 text-right">
                        <app-button value="OPEN.TITLE" [disabled]="!openFolder" type="success" (buttonClicked)="openRepo()"></app-button>
                    </div>
                </div>
            </div>
            <span class="section-title">
                <i class="fas fa-clock fa-xs"></i>
                {{ 'OPEN.OPENED' | translate }}
            </span>
            <div *ngFor="let project of recentProject | keyvalue; first as isFirst" (click)="openRecentRepo(project.value.path)"
                [class.gh-open-first]="isFirst && repoName" class="col-md-12 pt-1 pb-1 gh-open-recentProject" [ngClass]="[currentTheme]">
                <div class="col-md-12">
                    {{project.value.repo}}
                </div>
                <div class="col-md-12 gh-open-recentPath" [ngClass]="[currentTheme]">
                    <div class="col-md-12">
                        {{project.value.path}}
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="{{ 'CLONE.TITLE' | translate }}">
                <span class="section-title">
                    <i class="fas fa-globe fa-xs" ></i>
                    {{ 'CLONE.TAB_TITLE' | translate }}
                </span>
                <div class="col-md-12">
                    <div class="col-md-12 row">
                        <div class="col-md-3 gh-label-input text-right" [ngClass]="[currentTheme]">
                            <label>{{ 'CLONE.WHERE' | translate }} </label>
                        </div>
                        <div class="col-md-6">
                            <app-input [(value)]="cloneFolder"></app-input>
                        </div>
                        <div class="col-md-3 text-right">
                            <app-button value="BROWSE" type="primary" (buttonClicked)="cloneBrowse()"></app-button>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-3 gh-label-input text-right" [ngClass]="[currentTheme]">
                            <label>{{ 'CLONE.URL' | translate }} </label>
                        </div>
                        <div class="col-md-9">
                            <app-input [(value)]="cloneUrl"></app-input>
                        </div>
                    </div>
                    <div class="col-md-12 row mt-3">
                        <div class="col-md-12 text-right">
                            <app-button value="CLONE.TITLE" type="success" [disabled]="!cloneUrl || !cloneFolder" (buttonClicked)="cloneSubmit()"></app-button>
                        </div>
                    </div>
                </div>
        </mat-tab>
        <mat-tab label="{{ 'INIT.TITLE' | translate }}" id="tab-init">
            <span class="section-title">
                <i class="fas fa-laptop fa-xs" ></i>
                {{ 'INIT.TAB_TITLE' | translate }}
            </span>
            <div class="col-md-12">
                <div class="col-md-12 row mt-2">
                    <div class="col-md-3 gh-label-input text-right" [ngClass]="[currentTheme]">
                        <label>{{ 'NAME' | translate }} </label>
                    </div>
                    <div class="col-md-9">
                        <app-input class="px-0" [(value)]="initName" (keyup)="updateFullPath()"></app-input>
                    </div>
                </div>
                <div class="col-md-12 row mt-2">
                    <div class="col-md-3 gh-label-input text-right" [ngClass]="[currentTheme]">
                        <label>{{ 'INIT.WHERE' | translate }} </label>
                    </div>
                    <div class="col-md-7">
                        <app-input class="px-0" [(value)]="initLocation" (keyup)="updateFullPath()"></app-input>
                    </div>
                    <div class="col-md-2 text-right">
                        <app-button value="BROWSE" type="primary" (buttonClicked)="initBrowse()"></app-button>
                    </div>
                </div>
                <div class="col-md-12 row mt-2">
                        <div class="col-md-3 gh-label-input text-right" [ngClass]="[currentTheme]">
                           <label>{{ 'FULL_PATH' | translate }} </label>
                        </div>
                        <div class="col-md-9 gh-label-input pl-3 text-break-word" [ngClass]="[currentTheme]">
                            {{ fullPath }}
                        </div>
                    </div>
                <div class="col-md-12 row mt-2">
                    <div class="col-md-12 text-right">
                        <app-button value="CREATE_REPOSITORY" type="success" [disabled]="!initName || !initLocation" (buttonClicked)="initSubmit()"></app-button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</app-modal>

<app-footer [devRedirect]="{ icon: 'fa-toolbox', link: '/toolbox' }"></app-footer>

<!-- Clone Info bar credentials -->
<app-info-bar [visible]="credInfoBarVisible">
    <span *ngIf="!cloneAuthErrored">{{ 'LOG_TO_CONTINUE' | translate }}</span>
    <span *ngIf="cloneAuthErrored" class="color-red">{{ 'WRONG_CRED' | translate }}</span>
    <app-input [(value)]="cloneHttpsUser.username" [placeholder]="'USERNAME'" class="ml-3"></app-input>
    <app-input [(value)]="cloneHttpsUser.password" [placeholder]="'PASSWORD'" type="password" class="ml-3"></app-input>
    <app-button class="ml-3" value="LOG_IN" type="success" [disabled]="!cloneHttpsUser.username || !cloneHttpsUser.password" (buttonClicked)="cloneHttps()"></app-button>
    <app-button class="ml-3" value="CANCEL" type="primary" (buttonClicked)="closeCredInfoBar()"></app-button>
</app-info-bar>

<!-- Rename Info bar -->
<app-info-bar [visible]="(newBranchCouple.oldBranch == '') ? false : true">
    <span>{{ 'NEW_BRANCH_NAME_PROMPT' | translate }}</span>
    <app-input [(value)]="newBranchName" [placeholder]="'NEW_BRANCH'" class="ml-3"></app-input>
    <app-button class="ml-3" value="RENAME" type="success" [disabled]="!newBranchName" (buttonClicked)="renameBranch()"></app-button>
    <app-button class="ml-3" value="CANCEL" type="primary" (buttonClicked)="closeRenameBar()"></app-button>
</app-info-bar>

<!-- Open cloned repo -->
<app-info-bar [visible]="openClonedInfoBarVisible">
    <app-button value="OPEN_NOW" type="success" (buttonClicked)="openClonedRepo()"></app-button>
    <app-button class="ml-3" value="CANCEL" type="primary" (buttonClicked)="closeClonedInfoBar()"></app-button>
</app-info-bar>

