<app-container classes="dark">
    <!-- Button-Bar -->
    <div class="gh-button-bar">
        <!-- Project (à gauche) -->
        <div class="col-4 gh-button-bar-project gh-breadcrumbs">
            <ul>
                <li class="gh-folder"><a (click)="openProjectModal()"><i class="far fa-folder fa-lg"></i></a></li>
                <li class="gh-project"><a>Projet</a></li>
                <li class="gh-branch"><a>Branch</a></li>
            </ul>
        </div>
        <!-- Actions (au milieu) -->
        <div class="col-4 gh-button-bar-actions">
            <div class="d-inline-block">
                <app-icon-button value="PULL" tooltipValue="PULL" placement="bottom"
                    [icon]="{name:'fa-download', isFab:false}" (buttonClicked)="pullButtonClicked()">
                </app-icon-button>
            </div>
            <div class="d-inline-block">
                <app-icon-button value="PUSH" tooltipValue="PUSH" placement="bottom"
                    [icon]="{name:'fa-upload', isFab:false}" (buttonClicked)="pushButtonClicked()">
                </app-icon-button>
            </div>
            <div class="d-inline-block">
                <app-icon-button value="BRANCH" tooltipValue="BRANCH" placement="bottom"
                    [icon]="{name:'fa-code-branch', isFab:false}" (buttonClicked)="branchButtonClicked()">
                </app-icon-button>
            </div>
        </div>
        <!-- Plus (à droite) -->
        <div class="col-4 gh-button-bar-more">
            <div>
                <div class="searchInput mr-3">
                    <app-input [(value)]="searchInputValue"></app-input>
                </div>
                <a class="cursor-pointer mr-3" (click)="displaySearchInputValue()"><i class="fa fa-search"></i></a>
                <a class="cursor-pointer mr-3" (click)="openTerminal()"><i class="fas fa-terminal"></i></a>
                <a class="cursor-pointer" (click)="openPreferences()"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </div>
</app-container>

<app-modal [(visible)]="projectModalVisible" [medium]="true" title="{{ 'REPOSITORY_MANAGEMENT' | translate }}" [loading]="projectModalLoading">
    <mat-tab-group disableRipple [@.disabled]="true">
        <mat-tab label="{{ 'OPEN' | translate }}">
            {{ 'OPEN' | translate }}
        </mat-tab>
        <mat-tab label="{{ 'CLONE' | translate }}">{{ 'CLONE' | translate }}</mat-tab>
        <mat-tab label="{{ 'INIT.TITLE' | translate }}">
            <span class="section-title">
                <i class="fas fa-laptop fa-xs" ></i>
                {{ 'INIT.TAB_TITLE' | translate }}
            </span>
            <div class="col-md-12">
                <div class="col-md-12 row mt-2">
                    <div class="col-md-3 gh-label-input text-right">
                        <label>{{ 'NAME' | translate }} </label>
                    </div>
                    <div class="col-md-9">
                        <app-input class="px-0" [(value)]="initName" (keyup)="updateFullPath()"></app-input>
                    </div>
                </div>
                <div class="col-md-12 row mt-2">
                    <div class="col-md-3 gh-label-input text-right">
                        <label>{{ 'INIT.WHERE' | translate }} </label>
                    </div>
                    <div class="col-md-7">
                        <app-input class="px-0" [(value)]="initLocation" (keyup)="updateFullPath()"></app-input>
                    </div>
                    <div class="col-md-2 text-right">
                        <app-button value="BROWSE" type="primary" (buttonClicked)="initBrowse()"></app-button>
                    </div>
                </div>
                <div class="col-md-12 row mt-2">
                        <div class="col-md-3 gh-label-input text-right">
                           <label>{{ 'FULL_PATH' | translate }} </label>
                        </div>
                        <div class="col-md-9 gh-label-input pl-3 text-break-word">
                            {{ fullPath }}
                        </div>
                    </div>
                <div class="col-md-12 row mt-2">
                    <div class="col-md-12 text-right">
                        <app-button value="CREATE_REPOSITORY" type="success" (buttonClicked)="initSubmit()"></app-button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</app-modal>

<app-footer [devRedirect]="{ icon: 'fa-toolbox', link: '/toolbox' }"></app-footer>