@import '../../../variables.scss';

.gh-button-bar {
    @include wX-hX(100%, 50px);
    @include bg-color($light-grey);
    color: $white;

    &-project {
        @include hX(50px);
        line-height: 50px;
        float: left;
        text-align: left;
        padding-left: 0;
    }

    &-actions {
        @include hX(50px);
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    &-more {
        @include hX(50px);
        line-height: 50px;
        float: right;
        text-align: right;

        & .searchInput {
            width: 175px;
            display: inline-block;
        }
    }
}

.gh-breadcrumbs {
    list-style: none;
    overflow: hidden;
    font-size: 16px;

    & ul {
        padding-left: 0;

        & li {
            float: left;

            & a {
                color: $white;
                text-decoration: none;
                padding-left: 45px;
                background: $blue-grey; // A MODIFIER ? (blue-grey = light grey wtf)
                position: relative; 
                display: block;
                float: left;
                cursor: pointer;

                &::after {
                    content: " "; 
                    display: block;
                    @include wX-hX(0, 0);
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid $blue-grey;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    left: 100%;
                    z-index: 2;
                }

                &::before {
                    content: " "; 
                    display: block; 
                    @include wX-hX(0, 0);
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid $light-grey;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    margin-left: 2px;
                    left: 100%;
                    z-index: 1;
                }
            }

            &:first-child {
                a {
                    padding-left: 10px;
                    @include bg-color($light-grey);

                    &::before, &::after {
                        border-left: 30px solid $light-grey;
                    }
                }
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}