<app-container classes="dark">
    <!-- Button-Bar -->
    <div class="gh-button-bar">
        <!-- Project (à gauche) -->
        <div class="col-4 gh-button-bar-project gh-breadcrumbs">
            <ul>
                <li class="gh-folder gh-corner"><a>Folder</a></li>
                <li class="gh-project gh-corner"><a>Projet</a></li>
            </ul>
            <!--<div class="gh-folder gh-corner">
                Folder
            </div>
            <div class="gh-project gh-corner ml-2">
                Projet
            </div>
            <div class="gh-branch ml-2">
                Branche
            </div>-->
        </div>
        <!-- Actions (au milieu) -->
        <div class="col-4 gh-button-bar-actions">
            <div class="d-inline-block">
                <app-icon-button value="PULL"  tooltipValue="PULL" placement="bottom"
                    [icon]="{name:'fa-download', isFab:false}" (buttonClicked)="pullButtonClicked()">
                </app-icon-button>
            </div>
            <div class="d-inline-block">
                <app-icon-button value="PUSH"  tooltipValue="PUSH" placement="bottom"
                    [icon]="{name:'fa-upload', isFab:false}" (buttonClicked)="pushButtonClicked()">
                </app-icon-button>
            </div>
            <div class="d-inline-block">
                <app-icon-button value="BRANCH"  tooltipValue="BRANCH" placement="bottom"
                    [icon]="{name:'fa-code-branch', isFab:false}" (buttonClicked)="branchButtonClicked()">
                </app-icon-button>
            </div>
        </div>
        <!-- Plus (à droite) -->
        <div class="col-4 gh-button-bar-more">
            <div>
                <a class="cursor-pointer mr-2" (click)="openTerminal()"><i class="fas fa-terminal"></i></a>
                <a class="cursor-pointer" (click)="openPreferences()"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </div>
</app-container>

<app-footer [devRedirect]="{ icon: 'fa-toolbox', link: '/toolbox' }"></app-footer>