@import '../../../variables.scss';

.item {
    cursor: pointer;
}
.bold {
    font-weight: bold;
}

.color-m {
    color: #de9b49;
}

.color-a {
    color: $dark-green-light;
}

.color-d {
    color: $dark-red-light;
}

.gh-tree-item:hover div:first-child{
    &.dark:hover {
        @include bg-color($dark-blue);
    }

    &.light:hover {
        @include bg-color($light-green-light);
    }

    &_button {
        position: absolute;
        right: 20px;
        visibility: hidden;
        font-size: $fs-small;
    }
}