<li>
    <div
      *ngIf="isFolder()"
      class="bold"
      (click)="toggle()">
      <i class="fa" [ngClass]="isOpen ? 'fa-folder-open' : 'fa-folder'"></i>
      {{ item.folder }}
    </div>
    <div *ngIf="!isFolder()">
        <i class="fa" [ngClass]="[(item.status == 'M' ? 'fa-file-signature color-m' : ''), 
        (item.status == 'A' ? 'fa-file-medical color-a' : ''), (item.status == 'D' ? 'fa-file-excel color-d' : '')]"></i>{{ item.file}}
    </div>
    <ul [hidden]="!isOpen" *ngIf="isFolder()">
      <app-tree-item
        class="item"
        *ngFor="let child of item.children"
        [item]="child"
      ></app-tree-item>
    </ul>
  </li>