<div class="send-commit container" [ngClass]="currentTheme">
  <div class="send-commit_header">
      {{ listUnstagedFiles.length + listStagedFiles }} {{ 'NB_FILE_COMMIT' }}
  </div>
  <div class="text-left">
    {{ 'UNSTAGED_FILES' | translate }} ({{ listUnstagedFiles.length }})
    <app-file-diff-commit [listFiles]="listUnstagedFiles" componentType="unstage"></app-file-diff-commit>
  </div>

  <div class="text-left">
      {{ 'STAGED_FILES' | translate }} ({{ listStagedFiles.length }})
      <app-file-diff-commit [listFiles]="listStagedFiles" componentType="stage"></app-file-diff-commit>
  </div>
</div>
