@import '../../../variables.scss';

:host{
    background: $white;
    color: #000;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

.gh-container {
    @include w100-h100();
    @include wX-hX(100%, calc(100% - #{$footer-height}));
    overflow: auto;

    &.light {
        background-color: $white;
        &.gh-border {
            border: 1px solid $border-dark-grey-light;
        }
    }

    &.dark-grey {
        background-color: $dark-grey;
        &.gh-border {
            border: 1px solid $dark;
        }
    
    }

    &.light-grey {
        background-color: $light-grey;
    }

    &.blue-grey {
        background-color: $blue-grey;
    }

    &.dark {
        background-color: $dark;
    }

    &.loader-dark {
        background-color: $dark;
        opacity: 0.8;
    }
}