@import '../../../variables.scss';

.gh-button {
    border-style: solid;
    border-radius: 2px;
    outline: none;
    &.primary-dark {
        @include bg-color($dark-blue);
        border-color: $light-blue;
        color: $white;
        cursor: pointer;

        &:hover {
            @include bg-color($light-blue);
        }

        &.disabled {
            @include bg-color($disabled-blue);
            border-color: $dark-blue;
            color: $muted-white;

            &:hover {
                cursor: not-allowed;
                color: $white;
            }
        }
    }

    &.primary-light {
        @include bg-color($light-blue-light);
        border-color: $dark-blue-light;
        cursor: pointer;
        color: $dark;

        &:hover {
            @include bg-color($dark-blue-light);
        }

        &.disabled {
            @include bg-color($disabled-blue-light);
            border-color: $dark-blue-light;
            color: $dark;

            &:hover {
                cursor: not-allowed;
                color: $white;
            }
        }
    }

    &.success-dark {
        @include bg-color($dark-green);
        border-color: $light-green;
        cursor: pointer;
        color: $white;

        &:hover {
            @include bg-color($light-green);
        }

        &.disabled {
            @include bg-color($disabled-green);
            border-color: $dark-green;
            color: $muted-white;
            
            
            &:hover {
                cursor: not-allowed;
                color: $white;
            }
        }
    }

    &.success-light {
        @include bg-color($light-green-light);
        border-color: $dark-green-light;
        cursor: pointer;
        color: $dark;

        &:hover {
            @include bg-color($dark-green-light);
        }

        &.disabled {
            @include bg-color($disabled-green-light);
            border-color: $dark-green-light;
            color: $dark;
            
            
            &:hover {
                cursor: not-allowed;
                color: $white;
            }
        }
    }

    &.danger-dark {
        @include bg-color($dark-red);
        border-color: $light-red;
        cursor: pointer;
        color: $white;

        &:hover {
            @include bg-color($light-red);
        }

        &.disabled {
            @include bg-color($disabled-red);
            border-color: $dark-red;
            color: $muted-white;
            
            &:hover {
                cursor: not-allowed;
                color: $white;
            }
        }
    }

    &.danger-light {
        @include bg-color($light-red-light);
        border-color: $dark-red-light;
        cursor: pointer;
        color: $dark;

        &:hover {
            @include bg-color($dark-red-light);
        }

        &.disabled {
            @include bg-color($disabled-red-light);
            border-color: $dark-red-light;
            color: $dark;
            
            &:hover {
                cursor: not-allowed;
                color: $white;
            }
        }
    }
}

.large {
    @include w100-h100();
}