@import '../../../variables.scss';

.gh-dropdown {

  &.gh-dropsmall{
    width: 75%;
  }
  &.gh-droplarge{
    width: 100%;
  }

  outline: none;
  border-radius: 3px;
  font-size: $fs-medium;
  padding: $gap-md;
  line-height: 1;
  @include wX(100%);

  &:focus {
      border-color: $light-blue-hover;
      box-shadow: 0 0 0 1px $light-blue-hover;
      outline: 0;
  }

  &.dark {
    background-color: $dark;
    color: $white;
    border : 1px solid $dark-grey;
    &.disabled {
      color: $muted-white;

      &:hover {
          cursor: not-allowed;
          color: $white;
      }
    }
  }

  &.light {
    background-color: $white;
    color: $white;
    border : 1px solid $border-light-grey-light;

    &.disabled {
      color: $muted-white;

      &:hover {
          cursor: not-allowed;
          color: $white;
      }
    }
  }

}