@import '../../../variables.scss';

.big-heading {
    @include wX(100%);
    color: $white;
    font-size: 36px;
}

.color-item {
    @include hX(50px);
    border: 1px solid $muted-white;
}

.bb-white {
    border-bottom: 1px solid $white;
}

.gh-div-loader {
    width: 500px;
    height: 500px;
}

a.link-white {

    color: $white;
    text-decoration: underline;
    &:hover, &:focus, &:active, &:visited {
        color: $white;
        cursor: pointer;
    }
}

// Background colors
.dark-blue {
    @include bg-color($dark-blue);
}
.light-blue {
    @include bg-color($light-blue);
}
.light-blue-hover {
    @include bg-color($light-blue-hover);
}
.disabled-blue {
    @include bg-color($disabled-blue);
}
.gh-green {
    @include bg-color($gh-green);
}
.dark-green {
    @include bg-color($dark-green);
}
.light-green {
    @include bg-color($light-green);
}
.disabled-green {
    @include bg-color($disabled-green);
}
.light-green-hover {
    @include bg-color($light-green-hover);
}
.dark-red {
    @include bg-color($dark-red);
}
.light-red {
    @include bg-color($light-red);
}
.disabled-red {
    @include bg-color($disabled-red);
}
.dark-grey {
    @include bg-color($dark-grey);
}
.light-grey {
    @include bg-color($light-grey);
}
.blue-grey {
    @include bg-color($blue-grey);
}
.white {
    @include bg-color($white);
}
.muted-white {
    @include bg-color($muted-white);
}
.dark {
    @include bg-color($dark);
}

// Font sizes
.fs-xsmall {
    @include fs($fs-xsmall);
}
.fs-small {
    @include fs($fs-small);
}
.fs-medium {
    @include fs($fs-medium);
}
.fs-large {
    @include fs($fs-large);
}
.fs-xlarge {
    @include fs($fs-xlarge);
}