@import '~ngx-toastr/toastr.css';
@import 'variables.scss';

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  position: relative;
}

.dark-body {
  color: $white;
  font-family: $ff-default;
  margin: 0;
  background: $dark;
  h1 {
      font-size: $fs-xlarge;
      font-weight: bold;
      color: $white;
  }
  h2 {
      font-size: $fs-large;
      font-weight: bold;
      color: $white;
  }
  h3 {
      font-size: $fs-large;
      color: $white;
  }
  h4 {
      font-size: $fs-medium;
      font-weight: bold;
      color: $white;
  }
  h5 {
      font-size: $fs-medium;
      color: $white;
  }
  h6 {
      font-size: $fs-small;
      color: $white;
  }
  p {
    font-size: $fs-large;
  }
}

.light-body {
  color: $dark;
  font-family: $ff-default;
  margin: 0;
  background: $white;
  h1 {
      font-size: $fs-xlarge;
      font-weight: bold;
      color: $dark;
  }
  h2 {
      font-size: $fs-large;
      font-weight: bold;
      color: $dark;
  }
  h3 {
      font-size: $fs-large;
      color: $dark;
  }
  h4 {
      font-size: $fs-medium;
      font-weight: bold;
      color: $dark;
  }
  h5 {
      font-size: $fs-medium;
      color: $dark;
  }
  h6 {
      font-size: $fs-small;
      color: $dark;
  }
  p {
    font-size: $fs-large;
  }
}

.color-white {
  color: $white;
}

.color-dark {
  color: $dark;
}

.section-title {
  font-size: 32px;
}

.gh-label-input {
  color: $white;
  padding: $gap-md $gap-md 0 $gap-md;
  padding-right: 0;
  &.dark {
    color: $white;
  }
  &.light {
    color: $dark;
  }
}

.text-break-word {
  word-wrap: break-word;
}

.gh-scrollbar-dark {
--scrollbar-color: rgba(55, 56, 65, 0.3) !important;
--scrollbar-thumb-color: #373841 !important;
--scrollbar-thumb-hover-color: #373841 !important;
--scrollbar-border-radius: 4px !important;
--scrollbar-size: 7px !important;
}

.gh-scrollbar-light {
  --scrollbar-color: rgba(0, 0, 0, 0.1) !important;
  --scrollbar-thumb-color: #C6C6C6 !important;
  --scrollbar-thumb-hover-color: #C6C6C6 !important;
  --scrollbar-border-radius: 4px !important;
  --scrollbar-size: 7px !important;
  }


/*** Tabs ***/
.gh-modal__content.dark .mat-tab {
  
  &-header {
    background: $light-grey;
    border-right: 1px solid $dark;

    &-pagination {
      display:none !important;
    }
  }

  &-body-wrapper {
    @include wX(100%);
    background: $dark-grey;
    padding:10px;
  }

  &-label {
    font-size: 22px;
    opacity: 1 !important;
    justify-content: left !important;

    &:hover {
      background: rgba(76, 93, 170, 0.2);
    }

    &-active {
      background: rgba(76, 93, 170, 0.5) !important; /* light-grey plus clair */
    }
  }

  &-group {
    @include hX(100%);
    display: flex;
    flex-direction: row !important;

  }

  &-labels {
    display: flex;
    flex-direction: column !important;
  }

  & md-tab-content {
    transition:none;
  }

  & md-ink-bar {
    transition:none;
  }
}

.gh-modal__content.light .mat-tab {
  
  &-header {
    color: $dark;
    background: $dark-grey-light;
    border-right: 1px solid $border-dark-grey-light;

    &-pagination {
      display:none !important;
    }
  }

  &-body-wrapper {
    @include wX(100%);
    background: $light-grey-light;
    padding:10px;
  }

  &-label {
    font-size: 22px;
    opacity: 1 !important;
    justify-content: left !important;

    &:hover {
      background: $modal-tab-hover-light;
    }

    &-active {
      background:  $modal-tab-selected-light !important; /* light-grey plus clair */
    }
  }

  &-group {
    @include hX(100%);
    display: flex;
    flex-direction: row !important;

  }

  &-labels {
    display: flex;
    flex-direction: column !important;
  }

  & md-tab-content {
    transition:none;
  }

  & md-ink-bar {
    transition:none;
  }
}

.ngx-contextmenu {
    
    & .dropdown-menu {
        color: $dark;
        background-color: rgba(230, 230, 230, 0.9);
        border-radius: 3px;
        padding: 0;

        & .dropdown-divider {
            margin: 0.25rem 0;
            border-top: 1px solid $dark;
        }
    }

    & a {
        color: $dark;
        font-size: $fs-small;
        font-display: FontAwesome;
        &:hover {
            background: $light-blue-hover;
            color: $white;
        }
    }
}
