@import '~ngx-toastr/toastr.css';
@import 'variables.scss';

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  position: relative;
}

.dark-body {
  color: $white;
  font-family: $ff-default;
  margin: 0;
  background: $dark;
  h1 {
      font-size: $fs-xlarge;
      font-weight: bold;
      color: $white;
  }
  h2 {
      font-size: $fs-large;
      font-weight: bold;
      color: $white;
  }
  h3 {
      font-size: $fs-large;
      color: $white;
  }
  h4 {
      font-size: $fs-medium;
      font-weight: bold;
      color: $white;
  }
  h5 {
      font-size: $fs-medium;
      color: $white;
  }
  h6 {
      font-size: $fs-small;
      color: $white;
  }
  p {
    font-size: $fs-large;
  }
}

.light-body {
  color: $dark;
  font-family: $ff-default;
  margin: 0;
  background: $white;
  h1 {
      font-size: $fs-xlarge;
      font-weight: bold;
      color: $dark;
  }
  h2 {
      font-size: $fs-large;
      font-weight: bold;
      color: $dark;
  }
  h3 {
      font-size: $fs-large;
      color: $dark;
  }
  h4 {
      font-size: $fs-medium;
      font-weight: bold;
      color: $dark;
  }
  h5 {
      font-size: $fs-medium;
      color: $dark;
  }
  h6 {
      font-size: $fs-small;
      color: $dark;
  }
  p {
    font-size: $fs-large;
  }
}

.color-white {
  color: $white;
}

.color-dark {
  color: $dark;
}

.section-title {
  font-size: 32px;
}

.gh-label-input {
  color: $white;
  padding: $gap-md $gap-md 0 $gap-md;
  padding-right: 0;
  &.dark {
    color: $white;
  }
  &.light {
    color: $dark;
  }
}

.text-break-word {
  word-wrap: break-word;
}

.gh-scrollbar-dark {
--scrollbar-color: rgba(55, 56, 65, 0.3) !important;
--scrollbar-thumb-color: #373841 !important;
--scrollbar-thumb-hover-color: #373841 !important;
--scrollbar-border-radius: 4px !important;
--scrollbar-size: 7px !important;
}

.gh-scrollbar-light {
  --scrollbar-color: rgba(0, 0, 0, 0.1) !important;
  --scrollbar-thumb-color: #C6C6C6 !important;
  --scrollbar-thumb-hover-color: #C6C6C6 !important;
  --scrollbar-border-radius: 4px !important;
  --scrollbar-size: 7px !important;
  }


/*** Tabs ***/
.gh-modal__content.dark .mat-tab {
  
  &-header {
    background: $light-grey;
    border-right: 1px solid $dark;

    &-pagination {
      display:none !important;
    }
  }

  &-body-wrapper {
    @include wX(100%);
    background: $dark-grey;
    padding:10px;
  }

  &-label {
    font-size: 22px;
    opacity: 1 !important;
    justify-content: left !important;

    &:hover {
      background: rgba(76, 93, 170, 0.2);
    }

    &-active {
      background: rgba(76, 93, 170, 0.5) !important; /* light-grey plus clair */
    }
  }

  &-group {
    @include hX(100%);
    display: flex;
    flex-direction: row !important;

  }

  &-labels {
    display: flex;
    flex-direction: column !important;
  }

  & md-tab-content {
    transition:none;
  }

  & md-ink-bar {
    transition:none;
  }
}

.gh-modal__content.light .mat-tab {
  
  &-header {
    color: $dark;
    background: $dark-grey-light;
    border-right: 1px solid $border-dark-grey-light;

    &-pagination {
      display:none !important;
    }
  }

  &-body-wrapper {
    @include wX(100%);
    background: $light-grey-light;
    padding:10px;
  }

  &-label {
    font-size: 22px;
    opacity: 1 !important;
    justify-content: left !important;

    &:hover {
      background: $modal-tab-hover-light;
    }

    &-active {
      background:  $modal-tab-selected-light !important; /* light-grey plus clair */
    }
  }

  &-group {
    @include hX(100%);
    display: flex;
    flex-direction: row !important;

  }

  &-labels {
    display: flex;
    flex-direction: column !important;
  }

  & md-tab-content {
    transition:none;
  }

  & md-ink-bar {
    transition:none;
  }
}

.ngx-contextmenu {
    
    & .dropdown-menu {
        color: $dark;
        background-color: rgba(230, 230, 230, 0.9);
        border-radius: 3px;
        padding: 0;

        & .dropdown-divider {
            margin: 0.25rem 0;
            border-top: 1px solid $dark;
        }
    }

    & a {
        color: $dark;
        font-size: $fs-small;
        font-display: FontAwesome;
        &:hover {
            background: $light-blue-hover;
            color: $white;
        }
    }
}

.gh-diff-view-content-diff {

  & .d2h-file-diff, & .d2h-file-side-diff {
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment  {
        height: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track-piece  {
        -webkit-border-radius: 16px;
    }
    &::-webkit-scrollbar-thumb:vertical {
        height: 10px;
        -webkit-border-radius: 16px;
    }
  }

  &.light .d2h-file-diff, &.light .d2h-file-side-diff {
    &::-webkit-scrollbar-track-piece  {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb:vertical {
        background-color: #C6C6C6;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  &.dark {

    & .d2h-tag {
      background-color: $dark;
    }

    & .d2h-file-header {
      background-color: #272A31;
      color: $muted-white;
      border-bottom: 1px solid $muted-white;
    }

    & .d2h-file-wrapper {
      border: 1px solid $light-grey;
    }

    & .d2h-info {
      background-color: $dark;
      color: $muted-white;
    }

    & .d2h-emptyplaceholder, & .d2h-code-side-linenumber.d2h-code-side-emptyplaceholder,
    & .d2h-code-side-linenumber.d2h-info,
    & .d2h-code-linenumber.d2h-info, & .d2h-info {
      background-color: #272A31;
    }

    & .d2h-code-linenumber, & .d2h-code-side-linenumber {
      background-color: $dark;
      color: $muted-white;
      border: solid $muted-dark;
      border-width: 0 1px 0 1px;
    }

    & .d2h-del {
      background-color: #422428;
      border-color: #866666;
    }

    & .d2h-ins {
      background-color: #283D32;
      border-color: #324536;
    }

    & .d2h-change {
      background-color: yellow;
      border-color: greenyellow;
    }

    & .d2h-code-line ins, & .d2h-code-side-line ins {
      background-color: #32563E;
    }

    &  .d2h-code-line del, & .d2h-code-side-line del {
      background-color: #61292C;
    }
  }

  &.dark .d2h-file-diff, &.dark .d2h-file-side-diff {
    &::-webkit-scrollbar-track-piece  {
      background-color: rgba(55, 56, 65, 0.3);
    }
    &::-webkit-scrollbar-thumb:vertical {
        background-color: #373841;
        border: 1px solid rgba(55, 56, 65, 0.3);
    }
  }
}