// Couleurs

// DARK THEME
$dark-blue: #353D5A;
$light-blue: #4C5DAA;
$disabled-blue: #2A3345;
$dark-green: #314739;
$light-green:#477F4B;
$disabled-green: #2C3835;
$light-green-hover: #37553E;
$dark-red:#54383E;
$light-red: #963D3E;
$disabled-red: #382C32;
$dark-grey: #2C2E34;
$light-grey: #373841;
$blue-grey: #3E4453;
$low-dark: #272A31;
$version: #3E4453;
$textarea-bg: #3e424e;

// LIGHT THEME
$dark-blue-light: #4C88FC;
$light-blue-light: #DDE6F8;
$background-blue-light: #8EB2F9;
$disabled-blue-light: #EAEFF8;
$dark-green-light: #5BB862;
$light-green-light: #E0EDE1;
$disabled-green-light: #ECF2EC;
$light-green-hover-light: #C7E4CA;
$dark-red-light: #DA413E;
$light-red-light: #ECD6D5;
$disabled-red-light: #E0D6D5;
$button-bar-light: #464E69;
$button-bar-hover-light: #3E465E;
$arrow-light: #525C7C;
$border-dark-grey-light: #C6C6C6;
$border-light-grey-light: #DADADA;
$dark-grey-light: #F0F0F0;
$light-grey-light: #F7F7F7;
$grey-variant-light: #E8E8E8;
$modal-tab-selected-light: #CDD6E9;
$modal-tab-hover-light: #DADEE8;

// Independent of theme
$light-blue-hover: #4D88FF;
$muted-white: #C9CACC;
$white: #fff;;
$muted-dark: #8A8A8B;
$dark: #222328;
$gh-green: #1B958A;


// Font family
$ff-default: 'Open Sans', sans-serif;

// Font size
$fs-xsmall: 10px;
$fs-small: 12px;
$fs-medium: 14px;
$fs-large: 15px;
$fs-xlarge: 18px;

// Gaps
$gap-xs: 2px;
$gap-sm: 4px; 
$gap-md: 8px; 
$gap-lg: 12px; 
$gap-xl: 16px; 

// Autres
$footer-height: 33px;

// Mixins
@mixin box-shadow() {  
    box-shadow: 1px 3px 8px 0px #C6D1DB;
}

@mixin w100-h100() {
    width: 100%;
    height: 100%;
}

@mixin wX-hX($width, $height) {
    width: $width;
    height: $height;
}

@mixin wX($width) {
    width: $width;
}

@mixin hX($height) {
    height: $height;
}

@mixin bg-color($bg-color) {
    background-color: $bg-color;
}

@mixin fs($fs) {
    font-size: $fs;
}