@import '../../../variables.scss';

.gh-accordion {
    & i {
        float: left;
        padding: 5px;
        font-size: 15px;
    }
}

/deep/ .card {
    @include wX(10cm);
    border: $light-grey;
    background: $light-grey;
}

/deep/ .card-block {
    @include wX(10cm);
    // max-width: 100%;
    // min-width: 80%;
    margin-bottom: 20px;
}

/deep/ .card-header {
    @include wX(10cm);
    padding: 0;
    background: $light-grey;
    border: 1px solid $dark-grey;
}

/deep/ .card-body {
    @include wX(10cm);
    background: $dark-grey;
    font-size: 15px;
}

/deep/ .btn-link {
    font-size: 15px;
    color: $white;
    
    &:hover {
        text-decoration: none;
        color: $white;
    }
}
