@import '../../../variables.scss';

.gh-accordion {
    & i {
        float: left;
        padding: 5px;
        font-size: 15px;
    }
}

/deep/ .card {
    @include wX(9cm);
    border: $light-grey;
    background: $light-grey;
    margin-bottom: 2cm;
}

/deep/ .card-block {
    @include wX(9cm);
}

/deep/ .card-header {
    @include wX(9cm);
    padding: 0;
    background: $light-grey;
    border: 1px solid $dark-grey;
}

/deep/ .card-body {
    @include wX(9cm);
    background: $dark-grey;
    font-size: 15px;
}

/deep/ .btn-link {
    font-size: 15px;
    color: $white;
    @include wX(100%);
    text-decoration: none;
    text-align: left;
    
    &:hover, &:focus {
        text-decoration: none;
        color: $white;
    }
}
